{% extends 'base.html' %}

{% block title %}
    {% if category %}{{ category.name }}{% else %}Products{% endif %}
{% endblock %}

{% block content %}
    <h2>{% if category %}{{ category.name }}{% else %}Products{% endif %}</h2>
    <div>
        {% for product in products %}
            <div>
                <h2>{{ product.category }}</h2>
                <a href="{% url 'product_detail' product.id product.category.slug %}"> 
                    <h3>{{ product.name }}</h3>
                </a>
                <p>{{ product.price }}$</p>
                
            </div>
        {% endfor %}
    </div>
{% endblock %}
